/* Animated Blobs Background */
.blobs-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -50;
}
.blob {
  position: absolute;
  border-radius: 9999px;
  opacity: 0.3;
  animation: blob-bounce 3s infinite alternate;
}
.blob1 { top: -4rem; left: -4rem; width: 16rem; height: 16rem; background: #8B7EC8; opacity: 0.4; animation-delay: 0s; }
.blob2 { top: 25%; left: 5rem; width: 8rem; height: 8rem; background: #A8C8EC; animation-delay: 0.1s; }
.blob3 { top: 50%; right: 6rem; width: 7rem; height: 7rem; background: #F9BABA; animation-delay: 0.2s; }
.blob4 { top: 50%; left: 50%; width: 24rem; height: 24rem; background: #fff; opacity: 0.2; transform: translate(-50%,-50%); animation-delay: 0.3s; }
.blob5 { bottom: -5rem; right: -5rem; width: 20rem; height: 20rem; background: #A8C8EC; opacity: 0.4; animation-delay: 0.4s; }
.blob6 { bottom: 2.5rem; left: 2.5rem; width: 6rem; height: 6rem; background: #D1C7EB; opacity: 0.4; animation-delay: 0.5s; }
.blob7 { bottom: 8rem; left: 25%; width: 5rem; height: 5rem; background: #F4A6A6; animation-delay: 0.6s; }
.blob8 { bottom: 6rem; right: 33%; width: 6rem; height: 6rem; background: #D1C7EB; animation-delay: 0.7s; }
.blob9 { top: 40%; left: 33%; width: 10rem; height: 10rem; background: #8B7EC8; animation-delay: 0.8s; }
.blob10 { top: 2rem; right: 8rem; width: 10rem; height: 10rem; background: #F4A6A6; animation-delay: 0.9s; }
.blob11 { top: 33%; right: 1rem; width: 8rem; height: 8rem; background: #A8C8EC; animation-delay: 1s; }
.blob12 { top: 50%; right: 2.5rem; width: 6rem; height: 6rem; background: #D1C7EB; animation-delay: 1.1s; }
.blob13 { bottom: 5rem; right: 4rem; width: 7rem; height: 7rem; background: #F9BABA; animation-delay: 1.2s; }

@keyframes blob-bounce {
  0% { transform: translateY(0) scale(1); }
  100% { transform: translateY(-20px) scale(1.05); }
} 